In [60]:
import numpy as np
import pandas as pd
import os
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools
from datetime import date
import pandas as pd
import numpy as np 
import plotly.figure_factory as ff

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

import matplotlib.pyplot as plt
import seaborn as sns
import random 
import warnings
import operator
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import plotly.plotly as py
from plotly import tools
from datetime import date
import pandas as pd
import numpy as np 
import plotly.figure_factory as ff

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import lightgbm as lgb

import matplotlib.pyplot as plt
import seaborn as sns
import random 
import warnings
import operator
warnings.filterwarnings("ignore")
init_notebook_mode(connected=True)

In [61]:
data=pd.read_csv('Data\\train.csv')
data_test=pd.read_csv('Data\\test.csv')

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9557 entries, 0 to 9556
Columns: 143 entries, Id to Target
dtypes: float64(8), int64(130), object(5)
memory usage: 10.4+ MB

In [63]:


data.columns[data.dtypes==object]

Index(['Id', 'idhogar', 'dependency', 'edjefe', 'edjefa'], dtype='object')

In [64]:
data['dependency'].unique()

array(['no', '8', 'yes', '3', '.5', '.25', '2', '.66666669', '.33333334',
       '1.5', '.40000001', '.75', '1.25', '.2', '2.5', '1.2', '4',
       '1.3333334', '2.25', '.22222222', '5', '.83333331', '.80000001',
       '6', '3.5', '1.6666666', '.2857143', '1.75', '.71428573',
       '.16666667', '.60000002'], dtype=object)

In [65]:


data[(data['dependency']=='no') & (data['SQBdependency']!=0)]

Empty DataFrame
Columns: [Id, v2a1, hacdor, rooms, hacapo, v14a, refrig, v18q, v18q1, r4h1, r4h2, r4h3, r4m1, r4m2, r4m3, r4t1, r4t2, r4t3, tamhog, tamviv, escolari, rez_esc, hhsize, paredblolad, paredzocalo, paredpreb, pareddes, paredmad, paredzinc, paredfibras, paredother, pisomoscer, pisocemento, pisoother, pisonatur, pisonotiene, pisomadera, techozinc, techoentrepiso, techocane, techootro, cielorazo, abastaguadentro, abastaguafuera, abastaguano, public, planpri, noelec, coopele, sanitario1, sanitario2, sanitario3, sanitario5, sanitario6, energcocinar1, energcocinar2, energcocinar3, energcocinar4, elimbasu1, elimbasu2, elimbasu3, elimbasu4, elimbasu5, elimbasu6, epared1, epared2, epared3, etecho1, etecho2, etecho3, eviv1, eviv2, eviv3, dis, male, female, estadocivil1, estadocivil2, estadocivil3, estadocivil4, estadocivil5, estadocivil6, estadocivil7, parentesco1, parentesco2, parentesco3, parentesco4, parentesco5, parentesco6, parentesco7, parentesco8, parentesco9, parentesco10, parentesco11, parentesco12, idhogar, hogar_nin, hogar_adul, hogar_mayor, hogar_total, ...]
Index: []

[0 rows x 143 columns]

In [66]:


data[(data['dependency']=='yes') & (data['SQBdependency']!=1)]

Empty DataFrame
Columns: [Id, v2a1, hacdor, rooms, hacapo, v14a, refrig, v18q, v18q1, r4h1, r4h2, r4h3, r4m1, r4m2, r4m3, r4t1, r4t2, r4t3, tamhog, tamviv, escolari, rez_esc, hhsize, paredblolad, paredzocalo, paredpreb, pareddes, paredmad, paredzinc, paredfibras, paredother, pisomoscer, pisocemento, pisoother, pisonatur, pisonotiene, pisomadera, techozinc, techoentrepiso, techocane, techootro, cielorazo, abastaguadentro, abastaguafuera, abastaguano, public, planpri, noelec, coopele, sanitario1, sanitario2, sanitario3, sanitario5, sanitario6, energcocinar1, energcocinar2, energcocinar3, energcocinar4, elimbasu1, elimbasu2, elimbasu3, elimbasu4, elimbasu5, elimbasu6, epared1, epared2, epared3, etecho1, etecho2, etecho3, eviv1, eviv2, eviv3, dis, male, female, estadocivil1, estadocivil2, estadocivil3, estadocivil4, estadocivil5, estadocivil6, estadocivil7, parentesco1, parentesco2, parentesco3, parentesco4, parentesco5, parentesco6, parentesco7, parentesco8, parentesco9, parentesco10, parentesco11, parentesco12, idhogar, hogar_nin, hogar_adul, hogar_mayor, hogar_total, ...]
Index: []

[0 rows x 143 columns]

In [67]:


data['dependency']=np.sqrt(data['SQBdependency'])

In [68]:


data['edjefe'].unique()

array(['10', '12', 'no', '11', '9', '15', '4', '6', '8', '17', '7', '16',
       '14', '5', '21', '2', '19', 'yes', '3', '18', '13', '20'],
      dtype=object)

In [69]:


data['edjefa'].unique()

array(['no', '11', '4', '10', '9', '15', '7', '14', '13', '8', '17', '6',
       '5', '3', '16', '19', 'yes', '21', '12', '2', '20', '18'],
      dtype=object)

In [70]:
data['SQBedjefe'].unique()

array([100, 144,   0, 121,  81, 225,  16,  36,  64, 289,  49, 256, 196,
        25, 441,   4, 361,   1,   9, 324, 169, 400], dtype=int64)

In [71]:
data[['edjefe', 'edjefa', 'SQBedjefe']][:20]

   edjefe edjefa  SQBedjefe
0      10     no        100
1      12     no        144
2      no     11          0
3      11     no        121
4      11     no        121
5      11     no        121
6      11     no        121
7       9     no         81
8       9     no         81
9       9     no         81
10      9     no         81
11     no     11          0
12     no     11          0
13     no      4          0
14     no      4          0
15     no     10          0
16     no     10          0
17     no     10          0
18     no     10          0
19     15     no        225

In [72]:
data[['edjefe', 'edjefa', 'SQBedjefe']][data['edjefe']=='yes']

     edjefe edjefa  SQBedjefe
601     yes     no          1
602     yes     no          1
2392    yes     no          1
2393    yes     no          1
2394    yes     no          1
2422    yes     no          1
2423    yes     no          1
2424    yes     no          1
2829    yes     no          1
2830    yes     no          1
2831    yes     no          1
3015    yes     no          1
3016    yes     no          1
3017    yes     no          1
3741    yes     no          1
3742    yes     no          1
3743    yes     no          1
3744    yes     no          1
3745    yes     no          1
4490    yes     no          1
4491    yes     no          1
4492    yes     no          1
4493    yes     no          1
4494    yes     no          1
4903    yes     no          1
4904    yes     no          1
4905    yes     no          1
4979    yes     no          1
4980    yes     no          1
4981    yes     no          1
...     ...    ...        ...
8385    yes     no          1
8585    yes     no          1
8903    yes     no          1
8904    yes     no          1
8905    yes     no          1
8951    yes     no          1
8952    yes     no          1
8953    yes     no          1
8954    yes     no          1
8955    yes     no          1
8956    yes     no          1
8957    yes     no          1
9040    yes     no          1
9041    yes     no          1
9042    yes     no          1
9043    yes     no          1
9044    yes     no          1
9045    yes     no          1
9046    yes     no          1
9047    yes     no          1
9197    yes     no          1
9198    yes     no          1
9199    yes     no          1
9257    yes     no          1
9415    yes     no          1
9416    yes     no          1
9417    yes     no          1
9463    yes     no          1
9464    yes     no          1
9465    yes     no          1

[123 rows x 3 columns]

In [73]:
data[(data['edjefe']=='yes') & (data['edjefa']!='no')]

Empty DataFrame
Columns: [Id, v2a1, hacdor, rooms, hacapo, v14a, refrig, v18q, v18q1, r4h1, r4h2, r4h3, r4m1, r4m2, r4m3, r4t1, r4t2, r4t3, tamhog, tamviv, escolari, rez_esc, hhsize, paredblolad, paredzocalo, paredpreb, pareddes, paredmad, paredzinc, paredfibras, paredother, pisomoscer, pisocemento, pisoother, pisonatur, pisonotiene, pisomadera, techozinc, techoentrepiso, techocane, techootro, cielorazo, abastaguadentro, abastaguafuera, abastaguano, public, planpri, noelec, coopele, sanitario1, sanitario2, sanitario3, sanitario5, sanitario6, energcocinar1, energcocinar2, energcocinar3, energcocinar4, elimbasu1, elimbasu2, elimbasu3, elimbasu4, elimbasu5, elimbasu6, epared1, epared2, epared3, etecho1, etecho2, etecho3, eviv1, eviv2, eviv3, dis, male, female, estadocivil1, estadocivil2, estadocivil3, estadocivil4, estadocivil5, estadocivil6, estadocivil7, parentesco1, parentesco2, parentesco3, parentesco4, parentesco5, parentesco6, parentesco7, parentesco8, parentesco9, parentesco10, parentesco11, parentesco12, idhogar, hogar_nin, hogar_adul, hogar_mayor, hogar_total, ...]
Index: []

[0 rows x 143 columns]

In [74]:


data[(data['edjefa']=='yes') & (data['parentesco1']==1)][['edjefe', 'edjefa', 'parentesco1', 'escolari']]

     edjefe edjefa  parentesco1  escolari
432      no    yes            1         1
568      no    yes            1         1
595      no    yes            1         1
976      no    yes            1         1
1574     no    yes            1         1
2464     no    yes            1         1
2614     no    yes            1         1
3469     no    yes            1         1
3855     no    yes            1         1
3952     no    yes            1         1
4197     no    yes            1         1
4487     no    yes            1         1
4867     no    yes            1         1
4888     no    yes            1         1
4920     no    yes            1         1
6030     no    yes            1         1
6067     no    yes            1         1
6427     no    yes            1         1
7117     no    yes            1         1
7887     no    yes            1         1
8134     no    yes            1         1
8164     no    yes            1         1
8437     no    yes            1         1
8509     no    yes            1         1
9166     no    yes            1         1

In [75]:
data[data['edjefe']=='yes'][['edjefe', 'edjefa','age', 'escolari', 'parentesco1','male', 'female', 'idhogar']]

     edjefe edjefa  age  escolari  parentesco1  male  female    idhogar
601     yes     no   81         1            1     1       0  3641ce2d1
602     yes     no   73         3            0     0       1  3641ce2d1
2392    yes     no   42         6            0     0       1  a7abf59cc
2393    yes     no   12         5            0     0       1  a7abf59cc
2394    yes     no   46         1            1     1       0  a7abf59cc
2422    yes     no   41         6            0     1       0  698318dd7
2423    yes     no   74         1            0     0       1  698318dd7
2424    yes     no   78         1            1     1       0  698318dd7
2829    yes     no   72         4            0     0       1  4559a5af0
2830    yes     no   76         1            1     1       0  4559a5af0
2831    yes     no   49         7            0     0       1  4559a5af0
3015    yes     no   10         4            0     1       0  78f517dc7
3016    yes     no   35         4            0     1       0  78f517dc7
3017    yes     no   73         1            1     1       0  78f517dc7
3741    yes     no    0         0            0     1       0  0b3d5369b
3742    yes     no    2         0            0     0       1  0b3d5369b
3743    yes     no    6         0            0     1       0  0b3d5369b
3744    yes     no   31         1            1     1       0  0b3d5369b
3745    yes     no   29         6            0     0       1  0b3d5369b
4490    yes     no   56         5            0     0       1  f2ed4871d
4491    yes     no   67         1            1     1       0  f2ed4871d
4492    yes     no   16         6            0     0       1  f2ed4871d
4493    yes     no    5         0            0     0       1  f2ed4871d
4494    yes     no   28         9            0     0       1  f2ed4871d
4903    yes     no   22         6            0     1       0  e26adc10d
4904    yes     no   50         6            0     0       1  e26adc10d
4905    yes     no   59         1            1     1       0  e26adc10d
4979    yes     no   17        11            0     1       0  0519a23f5
4980    yes     no   46         1            1     1       0  0519a23f5
4981    yes     no   52         6            0     0       1  0519a23f5
...     ...    ...  ...       ...          ...   ...     ...        ...
8385    yes     no   33         6            0     1       0  41f4d7a4b
8585    yes     no   78         1            1     1       0  12a23bffe
8903    yes     no   30         1            1     1       0  180d40332
8904    yes     no   24         6            0     0       1  180d40332
8905    yes     no    7         0            0     1       0  180d40332
8951    yes     no   13         6            0     0       1  d4bce9879
8952    yes     no   48         6            0     0       1  d4bce9879
8953    yes     no   17         6            0     0       1  d4bce9879
8954    yes     no   60         1            1     1       0  d4bce9879
8955    yes     no   28         9            0     1       0  d4bce9879
8956    yes     no    1         0            0     0       1  d4bce9879
8957    yes     no   26        11            0     0       1  d4bce9879
9040    yes     no   30         4            0     0       1  da2ecdcfd
9041    yes     no   13         6            0     1       0  da2ecdcfd
9042    yes     no    9         2            0     1       0  da2ecdcfd
9043    yes     no   15         6            0     1       0  da2ecdcfd
9044    yes     no   23         1            1     1       0  da2ecdcfd
9045    yes     no    1         0            0     1       0  da2ecdcfd
9046    yes     no   11         3            0     0       1  da2ecdcfd
9047    yes     no    4         0            0     0       1  da2ecdcfd
9197    yes     no   43         3            0     0       1  5fd40ddd3
9198    yes     no   23         6            0     1       0  5fd40ddd3
9199    yes     no   60         1            1     1       0  5fd40ddd3
9257    yes     no   75         1            1     1       0  7e0dc2f87
9415    yes     no   73         0            0     0       1  7dde74368
9416    yes     no   47         2            0     1       0  7dde74368
9417    yes     no   82         1            1     1       0  7dde74368
9463    yes     no   68         1            1     1       0  be108a783
9464    yes     no   57         3            0     0       1  be108a783
9465    yes     no   35         0            0     1       0  be108a783

[123 rows x 8 columns]

In [76]:


data[(data['edjefe']=='no') & (data['edjefa']=='no')][['edjefe', 'edjefa', 'age', 'escolari', 'female', 'male', 'Id', 'parentesco1', 'idhogar']]

,edjefe,edjefa,age,escolari,female,male,Id,parentesco1,idhogar
86,no,no,89,0,1,0,ID_48c10ba80,1,2b1a06ddc
87,no,no,55,13,0,1,ID_1a283d51b,0,2b1a06ddc
121,no,no,21,14,1,0,ID_fdf18bbee,0,d9e9b591a
122,no,no,47,8,0,1,ID_cba836ed8,0,d9e9b591a
123,no,no,49,9,1,0,ID_6031cb88d,0,d9e9b591a
124,no,no,68,0,1,0,ID_0bc817cb2,1,d9e9b591a
125,no,no,21,14,1,0,ID_1cfb76926,0,d9e9b591a
166,no,no,6,0,1,0,ID_f435c5e46,0,71bec40bc
167,no,no,9,1,0,1,ID_a51262dae,0,71bec40bc
168,no,no,26,5,1,0,ID_7e6d23b28,0,71bec40bc
169,no,no,47,6,1,0,ID_4c409e16e,0,71bec40bc
170,no,no,4,0,1,0,ID_0704f4d9f,0,71bec40bc
171,no,no,60,0,0,1,ID_b0adca84e,1,71bec40bc
172,no,no,25,7,0,1,ID_0e4c312aa,0,71bec40bc
416,no,no,34,0,0,1,ID_2399e1e3e,1,fd22b4607
417,no,no,34,11,1,0,ID_301d72522,0,fd22b4607
418,no,no,7,0,1,0,ID_d643847f2,0,fd22b4607
419,no,no,14,7,1,0,ID_02a405b3b,0,fd22b4607
498,no,no,36,0,1,0,ID_460e4f901,1,7bf86807a
499,no,no,4,0,0,1,ID_0701248a7,0,7bf86807a
500,no,no,11,5,0,1,ID_a643ace5b,0,7bf86807a
501,no,no,35,9,0,1,ID_fcdff98ad,0,7bf86807a
502,no,no,17,10,0,1,ID_3a60d3642,0,7bf86807a
634,no,no,21,8,0,1,ID_01f647aaf,0,fd10905bc
635,no,no,85,0,1,0,ID_6a13e748d,1,fd10905bc
636,no,no,8,1,1,0,ID_e7fa38760,0,fd10905bc
637,no,no,36,5,1,0,ID_0d3b0550d,0,fd10905bc
669,no,no,0,0,0,1,ID_76517e7d8,0,e8725f7cb
670,no,no,73,6,0,1,ID_c30b3f5c4,0,e8725f7cb
671,no,no,68,0,1,0,ID_a5bedc6c4,1,e8725f7cb
...,...,...,...,...,...,...,...,...,...
9342,no,no,73,0,0,1,ID_b75c1d362,1,152d719e2
9343,no,no,72,0,1,0,ID_01462b000,0,152d719e2
9374,no,no,20,6,0,1,ID_b4f231ccb,0,7b7ebaf70
9375,no,no,5,0,0,1,ID_46eb2842b,0,7b7ebaf70
9376,no,no,46,2,1,0,ID_d7f45a459,0,7b7ebaf70
9377,no,no,25,6,1,0,ID_5b5fbe311,0,7b7ebaf70
9378,no,no,26,11,0,1,ID_aed542da7,0,7b7ebaf70
9379,no,no,8,1,1,0,ID_12c10b214,0,7b7ebaf70
9380,no,no,15,6,1,0,ID_cd64c1af9,0,7b7ebaf70
9381,no,no,52,0,0,1,ID_d43b03397,1,7b7ebaf70
9389,no,no,97,0,0,1,ID_06caac58e,0,b4bfd5115
9390,no,no,14,7,1,0,ID_635e2f20e,0,b4bfd5115
9391,no,no,68,0,1,0,ID_2129e7f05,1,b4bfd5115
9431,no,no,21,5,0,1,ID_65d174f99,0,0966c7521
9432,no,no,70,0,0,1,ID_3ef316d48,1,0966c7521
9433,no,no,57,6,1,0,ID_317e9a221,0,0966c7521
9434,no,no,17,6,0,1,ID_adfb4cf14,0,0966c7521
9450,no,no,40,6,0,1,ID_f0886bae3,0,2ca73280c
9451,no,no,69,0,0,1,ID_3f66348ab,1,2ca73280c
9452,no,no,33,6,1,0,ID_c51d7c66b,0,2ca73280c
9453,no,no,8,2,1,0,ID_2f5ad837a,0,2ca73280c
9454,no,no,41,6,0,1,ID_d74271567,0,2ca73280c
9455,no,no,59,0,1,0,ID_dc7068500,0,2ca73280c
9456,no,no,16,6,0,1,ID_cd592016b,0,2ca73280c
9481,no,no,48,0,1,0,ID_5f199ef06,1,339954bdc
9482,no,no,47,1,0,1,ID_61845138f,0,339954bdc
9490,no,no,77,0,1,0,ID_de4b00f08,1,5ba48ed17
9506,no,no,82,0,1,0,ID_14dbfebf2,1,6548edd92
9550,no,no,61,6,1,0,ID_90a399a51,0,212db6f6c
9551,no,no,67,0,0,1,ID_79d39dddc,1,212db6f6c

In [77]:


data[(data['edjefe']=='yes') & data['parentesco1']==1][['escolari']]

      escolari
601          1
2394         1
2424         1
2830         1
3017         1
3744         1
4491         1
4905         1
4980         1
5154         1
5191         1
5296         1
5338         1
5387         1
5562         1
5579         1
5588         1
5728         1
6342         1
6605         1
6665         1
6743         1
6869         1
6884         1
7056         1
7079         1
7361         1
7368         1
7759         1
7833         1
7907         1
8384         1
8585         1
8903         1
8954         1
9044         1
9199         1
9257         1
9417         1
9463         1

In [78]:
conditions = [
    (data['edjefe']=='no') & (data['edjefa']=='no'), #both no
    (data['edjefe']=='yes') & (data['edjefa']=='no'), # yes and no
    (data['edjefe']=='no') & (data['edjefa']=='yes'), #no and yes 
    (data['edjefe']!='no') & (data['edjefe']!='yes') & (data['edjefa']=='no'), # number and no
    (data['edjefe']=='no') & (data['edjefa']!='no') # no and number
]
choices = [0, 1, 1, data['edjefe'], data['edjefa']]
data['edjefx']=np.select(conditions, choices)
data['edjefx']=data['edjefx'].astype(int)
data[['edjefe', 'edjefa', 'edjefx']][:15]

   edjefe edjefa  edjefx
0      10     no      10
1      12     no      12
2      no     11      11
3      11     no      11
4      11     no      11
5      11     no      11
6      11     no      11
7       9     no       9
8       9     no       9
9       9     no       9
10      9     no       9
11     no     11      11
12     no     11      11
13     no      4       4
14     no      4       4

In [79]:
data.describe()

,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,r4h2,...,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target,edjefx
count,2.697000e+03,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,2215.000000,9557.000000,9557.000000,...,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9557.000000,9552.000000,9557.000000,9557.000000,9557.000000
mean,1.652316e+05,0.038087,4.955530,0.023648,0.994768,0.957623,0.231767,1.404063,0.385895,1.559171,...,1643.774302,19.132887,53.500262,3.844826,3.249485,3.900409,102.588867,1643.774302,3.302292,7.993617
std,1.504571e+05,0.191417,1.468381,0.151957,0.072145,0.201459,0.421983,0.763131,0.680779,1.036574,...,1741.197050,18.751395,78.445804,6.946296,4.129547,12.511831,93.516890,1741.197050,1.009565,4.389171
min,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,8.000000e+04,0.000000,4.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,289.000000,9.000000,0.000000,0.000000,1.000000,0.111111,36.000000,289.000000,3.000000,6.000000
50%,1.300000e+05,0.000000,5.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,961.000000,16.000000,36.000000,1.000000,2.250000,0.444444,81.000000,961.000000,4.000000,6.000000
75%,2.000000e+05,0.000000,6.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,2.000000,...,2601.000000,25.000000,81.000000,4.000000,4.000000,1.777778,134.560010,2601.000000,4.000000,11.000000
max,2.353477e+06,1.000000,11.000000,1.000000,1.000000,1.000000,1.000000,6.000000,5.000000,8.000000,...,9409.000000,169.000000,441.000000,81.000000,36.000000,64.000000,1369.000000,9409.000000,4.000000,21.000000

In [80]:
data.columns[data.isna().sum()!=0]

Index(['v2a1', 'v18q1', 'rez_esc', 'meaneduc', 'SQBmeaned'], dtype='object')



Columns with nans:

    v2a1 - monthly rent
    v18q1 - number of tablets
    rez_esc - years behind school
    meaneduc - mean education for adults
    SQBmeaned - square of meaned

In [81]:
data[data['meaneduc'].isnull()]

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target,edjefx
1291,ID_bd8e11b0f,NaN,0,7,0,1,1,0,NaN,0,...,324,1,0,1,0.04,64.0,NaN,324,4,10
1840,ID_46ff87316,110000.0,0,1,0,1,1,0,NaN,0,...,324,4,16,4,4.00,64.0,NaN,324,4,4
1841,ID_69f50bf3e,110000.0,0,1,0,1,1,0,NaN,0,...,324,4,16,4,4.00,64.0,NaN,324,4,4
2049,ID_db3168f9f,180000.0,0,3,0,1,1,0,NaN,0,...,361,4,144,4,1.00,64.0,NaN,361,4,12
2050,ID_2a7615902,180000.0,0,3,0,1,1,0,NaN,0,...,361,4,144,4,1.00,64.0,NaN,361,4,12

In [82]:
data[data['meaneduc'].isnull()][['Id','idhogar','edjefe','edjefa', 'hogar_adul', 'hogar_mayor', 'hogar_nin', 'age', 'escolari']]

,Id,idhogar,edjefe,edjefa,hogar_adul,hogar_mayor,hogar_nin,age,escolari
1291,ID_bd8e11b0f,1b31fd159,no,10,0,0,1,18,10
1840,ID_46ff87316,a874b7ce7,4,no,0,0,2,18,6
1841,ID_69f50bf3e,a874b7ce7,4,no,0,0,2,18,4
2049,ID_db3168f9f,faaebf71a,12,no,0,0,2,19,12
2050,ID_2a7615902,faaebf71a,12,no,0,0,2,19,12

In [83]:
print(len(data[data['idhogar']==data.iloc[1291]['idhogar']]))
print(len(data[data['idhogar']==data.iloc[1840]['idhogar']]))
print(len(data[data['idhogar']==data.iloc[2049]['idhogar']]))

1
2
2

So, the 5 rows with Nan for 'meaneduc' is just 3 households, where 18-19 year-olds live. No other people live in these households. Then we can just take the education levels of these kids ('escolari') and put them into 'meaneduc' and 'SQBmeaned'.

In [84]:
meaneduc_nan=data[data['meaneduc'].isnull()][['Id','idhogar','escolari']]

In [85]:
me=meaneduc_nan.groupby('idhogar')['escolari'].mean().reset_index()

In [86]:
me

     idhogar  escolari
0  1b31fd159        10
1  a874b7ce7         5
2  faaebf71a        12

In [87]:
for row in meaneduc_nan.iterrows():
    idx=row[0]
    idhogar=row[1]['idhogar']
    m=me[me['idhogar']==idhogar]['escolari'].tolist()[0]
    data.at[idx, 'meaneduc']=m
    data.at[idx, 'SQBmeaned']=m*m

Next, let's look at 'v2a1', the monthly rent payment, that also has missing values.

In [88]:
data['v2a1'].isnull().sum()

6860

That's a lot of missing values.

But maybe they own their houses. We can look what type of housing these people with missing values live..

In [89]:
norent=data[data['v2a1'].isnull()]
print("Owns his house:", norent[norent['tipovivi1']==1]['Id'].count())
print("Owns his house paying installments", norent[norent['tipovivi2']==1]['Id'].count())
print("Rented ", norent[norent['tipovivi3']==1]['Id'].count())
print("Precarious ", norent[norent['tipovivi4']==1]['Id'].count())
print("Other ", norent[norent['tipovivi5']==1]['Id'].count())
print("Total ", 6860)

Owns his house: 5911
Owns his house paying installments 0
Rented  0
Precarious  163
Other  786
Total  6860

The majority in fact owns their houses, only a few have odd situations. We can probably just assume they don't pay rent, and put 0 in these cases.

In [90]:
data['v2a1']=data['v2a1'].fillna(0)

Now, let's look at 'v18q1', which indicates how many tablets the household owns.

In [91]:
data['v18q1'].isna().sum()

7342

In [92]:
data['v18q1'].unique()

array([nan,  1.,  2.,  3.,  4.,  5.,  6.])

That's exactly the number of rows with missing values! There's also no 0 among the values of 'v18q1'. So all the nans in 'v18q1' just means they don't own a tablet! So we can just change them to 0.

In [93]:
data['v18q1']=data['v18q1'].fillna(0)

Next up is 'rez_esc', which indicates if a person is behind in school.

In [94]:
data['rez_esc'].isnull().sum()

7928

In [95]:
data['rez_esc'].describe()

count    1629.000000
mean        0.459791
std         0.946550
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         5.000000
Name: rez_esc, dtype: float64

In [96]:
data['rez_esc'].unique()

array([nan,  1.,  0.,  3.,  2.,  4.,  5.])

In [97]:
data[data['rez_esc']>1][['age', 'escolari', 'rez_esc']][:20]

      age  escolari  rez_esc
185    13         3      3.0
190    16         7      2.0
240    16         6      3.0
242    11         2      2.0
312    15         6      2.0
317    17         6      4.0
319    17         7      3.0
320    15         6      2.0
333    16         7      2.0
510    16         7      2.0
617    16         6      3.0
629    16         6      3.0
714    17         6      4.0
769    17         6      4.0
837    16         6      3.0
937    16         6      3.0
978    16         7      2.0
1146   16         6      3.0
1150   15         6      2.0
1151   16         7      2.0

these are all schoolchildren...

In [98]:
rez_esc_nan=data[data['rez_esc'].isnull()]
rez_esc_nan[(rez_esc_nan['age']<18) & rez_esc_nan['escolari']>0][['age', 'escolari']]

Empty DataFrame
Columns: [age, escolari]
Index: []

So all the nans here are either adults or children before school age. We can input 0 again.

In [99]:
data['rez_esc']=data['rez_esc'].fillna(0)

same household can have different target values.

In [100]:
d={}
weird=[]
for row in data.iterrows():
    idhogar=row[1]['idhogar']
    target=row[1]['Target']
    if idhogar in d:
        if d[idhogar]!=target:
            weird.append(idhogar)
    else:
        d[idhogar]=target

In [101]:
len(set(weird))

85

There are 85 households like that.

In [102]:
data[data['idhogar']==weird[2]][['idhogar','parentesco1', 'Target']]

       idhogar  parentesco1  Target
285  6833ac5dc            0       2
286  6833ac5dc            0       2
287  6833ac5dc            0       2
288  6833ac5dc            1       2
289  6833ac5dc            0       2
290  6833ac5dc            0       1

Correct target value is the one belonging to the head of the household. So we should set the correct value each time.

In [103]:
for i in set(weird):
    hhold=data[data['idhogar']==i][['idhogar', 'parentesco1', 'Target']]
    target=hhold[hhold['parentesco1']==1]['Target'].tolist()[0]
    for row in hhold.iterrows():
        idx=row[0]
        if row[1]['parentesco1']!=1:
            data.at[idx, 'Target']=target

In [104]:
data[data['idhogar']==weird[1]][['idhogar','parentesco1', 'Target']]

       idhogar  parentesco1  Target
282  4b6077882            1       1
283  4b6077882            0       1
284  4b6077882            0       1

In [105]:
def data_cleaning(data):
    data['dependency']=np.sqrt(data['SQBdependency'])
    data['rez_esc']=data['rez_esc'].fillna(0)
    data['v18q1']=data['v18q1'].fillna(0)
    data['v2a1']=data['v2a1'].fillna(0)
    
    conditions = [
    (data['edjefe']=='no') & (data['edjefa']=='no'), #both no
    (data['edjefe']=='yes') & (data['edjefa']=='no'), # yes and no
    (data['edjefe']=='no') & (data['edjefa']=='yes'), #no and yes 
    (data['edjefe']!='no') & (data['edjefe']!='yes') & (data['edjefa']=='no'), # number and no
    (data['edjefe']=='no') & (data['edjefa']!='no') # no and number
    ]
    choices = [0, 1, 1, data['edjefe'], data['edjefa']]
    data['edjefx']=np.select(conditions, choices)
    data['edjefx']=data['edjefx'].astype(int)
    data.drop(['edjefe', 'edjefa'], axis=1, inplace=True)
    
    meaneduc_nan=data[data['meaneduc'].isnull()][['Id','idhogar','escolari']]
    me=meaneduc_nan.groupby('idhogar')['escolari'].mean().reset_index()
    for row in meaneduc_nan.iterrows():
        idx=row[0]
        idhogar=row[1]['idhogar']
        m=me[me['idhogar']==idhogar]['escolari'].tolist()[0]
        data.at[idx, 'meaneduc']=m
        data.at[idx, 'SQBmeaned']=m*m
        
    return data

In [106]:
data.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBage,SQBhogar_total,SQBedjefe,SQBhogar_nin,SQBovercrowding,SQBdependency,SQBmeaned,agesq,Target,edjefx
0,ID_279628684,190000.0,0,3,0,1,1,0,0.0,0,...,1849,1,100,0,1.000000,0.0,100.0,1849,4,10
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,4489,1,144,0,1.000000,64.0,144.0,4489,4,12
2,ID_68de51c94,0.0,0,8,0,1,1,0,0.0,0,...,8464,1,0,0,0.250000,64.0,121.0,8464,4,11
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,289,16,121,4,1.777778,1.0,121.0,289,4,11
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,1369,16,121,4,1.777778,1.0,121.0,1369,4,11

## EDA

In [107]:
target = data['Target'].value_counts().to_frame()
levels = ["NonVulnerable", "Moderate Poverty", "Vulnerable", "Extereme Poverty"]
trace = go.Bar(y=target.Target, x=levels, marker=dict(color='orange', opacity=0.6))
layout = dict(title="Household Poverty Levels", margin=dict(l=200), width=800, height=400)
data1 = [trace]
fig = go.Figure(data=data1, layout=layout)
iplot(fig)

The above graph shows the poverty level distribution. While the majority households lie in Non vulnerable level, a significant households comes in vulnerable and extreme poverty condition.

## What Do Households Own

In [108]:
def compare_plot(col, title):
    tr1 = data[data['Target'] == 1][col].value_counts().to_dict()
    tr2 = data[data['Target'] == 2][col].value_counts().to_dict()
    tr3 = data[data['Target'] == 3][col].value_counts().to_dict()
    tr4 = data[data['Target'] == 4][col].value_counts().to_dict()
    
    xx = ['Extereme', 'Moderate', 'Vulnerable', 'NonVulnerable']
    trace1 = go.Bar(y=[tr1[0], tr2[0], tr3[0], tr4[0]], name="Not Present", x=xx, marker=dict(color="orange", opacity=0.6))
    trace2 = go.Bar(y=[tr1[1], tr2[1], tr3[1], tr4[1]], name="Present", x=xx, marker=dict(color="purple", opacity=0.6))
    
    return trace1, trace2 
    
tr1, tr2 = compare_plot("v18q", "Tablet")
tr3, tr4 = compare_plot("refrig", "Refrigirator")
tr5, tr6 = compare_plot("computer", "Computer")
tr7, tr8 = compare_plot("television", "Television")
tr9, tr10 = compare_plot("mobilephone", "MobilePhone")
titles = ["Tablet", "Refrigirator", "Computer", "Television", "MobilePhone"]

fig = tools.make_subplots(rows=3, cols=2, print_grid=False, subplot_titles=titles)
fig.append_trace(tr1, 1, 1)
fig.append_trace(tr2, 1, 1)
fig.append_trace(tr3, 1, 2)
fig.append_trace(tr4, 1, 2)
fig.append_trace(tr5, 2, 1)
fig.append_trace(tr6, 2, 1)
fig.append_trace(tr7, 2, 2)
fig.append_trace(tr8, 2, 2)
fig.append_trace(tr9, 3, 1)
fig.append_trace(tr10, 3, 1)

fig['layout'].update(height=1000, title="What do Households Own", barmode="stack", showlegend=False)
iplot(fig)

The above graphs shows the items different household have grouped into poverty levels. We can clearly see, poor households have lesser items than sufficient ones.

In [109]:
def find_prominent(row, mats):
    for c in mats:
        if row[c] == 1:
            return c
    return 

def combine(starter, colname, title, replacemap):
    mats = [c for c in data.columns if c.startswith(starter)]
    data[colname] = data.apply(lambda row : find_prominent(row, mats), axis=1)
    data[colname] = data[colname].apply(lambda x : replacemap[x] if x != None else x )

    om1 = data[data['Target'] == 1][colname].value_counts().to_frame()
    om2 = data[data['Target'] == 2][colname].value_counts().to_frame()
    om3 = data[data['Target'] == 3][colname].value_counts().to_frame()
    om4 = data[data['Target'] == 4][colname].value_counts().to_frame()

    trace1 = go.Bar(y=om1[colname], x=om1.index, name="Extereme", marker=dict(color='red', opacity=0.9))
    trace2 = go.Bar(y=om2[colname], x=om2.index, name="Moderate", marker=dict(color='red', opacity=0.5))
    trace3 = go.Bar(y=om3[colname], x=om3.index, name="Vulnerable", marker=dict(color='green', opacity=0.5))
    trace4 = go.Bar(y=om4[colname], x=om4.index, name="NonVulnerable", marker=dict(color='green', opacity=0.9))
    return [trace1, trace2, trace3, trace4]

titles = ["Outside Wall Material", "Floor Material", "Roof Material", "Sanitary Conditions", "Cooking Energy Sources", "Disposal Methods"]
fig = tools.make_subplots(rows=3, cols=2, print_grid=False, subplot_titles=titles)

### outside material
flr = {'paredblolad' : "Block / Brick", "paredpreb" : "Cement", "paredmad" : "Wood",
      "paredzocalo" : "Socket", "pareddes" : "Waste Material", "paredfibras" : "Fibres",
      "paredother" : "Other", "paredzinc": "Zink"}
res = combine("pared", "outside_material", "Predominanat Material of the External Walls", flr)      
for x in res:
    fig.append_trace(x, 1, 1)

### floor material 
flr = {'pisomoscer' : "Mosaic / Ceramic", "pisocemento" : "Cement", "pisonatur" : "Natural Material",
      "pisonotiene" : "No Floor", "pisomadera" : "Wood", "pisoother" : "Other"}
res = combine("piso", "floor_material", "Floor Material of the Households", flr)
for x in res:
    fig.append_trace(x, 1, 2)

### Roof Material
flr = {'techozinc' : "Zinc", "techoentrepiso" : "Fibre / Cement", "techocane" : "Natural Fibre", "techootro" : "Other"}
res = combine("tech", "roof_material", "Roof Material of the Households", flr)  
for x in res:
    fig.append_trace(x, 2, 1)


### Sanitary Conditions
flr = {'sanitario1' : "No Toilet", "sanitario2" : "Sewer / Cesspool", "sanitario3" : "Septic Tank",
       "sanitario5" : "Black Hole", "sanitario6" : "Other System"}
res = combine("sanit", "sanitary", "Sanitary Conditions of the Households", flr)
for x in res:
    fig.append_trace(x, 2, 2)

### Energy Source
flr = {'energcocinar1' : "No Kitchen", "energcocinar2" : "Electricity", "energcocinar3" : "Cooking Gas",
       "energcocinar4" : "Wood Charcoal"}
res = combine("energ", "energy_source", "Main source of energy for cooking", flr)  
for x in res:
    fig.append_trace(x, 3, 1)

### Disposal Methods
flr = {"elimbasu1":"Tanker truck",
"elimbasu2": "Buried",
"elimbasu3": "Burning",
"elimbasu4": "Unoccupied space",
"elimbasu5": "River",
"elimbasu6": "Other"}
res = combine("elim", "waste_method", "Rubbish Disposals Method", flr)  
for x in res:
    fig.append_trace(x, 3, 2)

fig['layout'].update(height=900, title="Key Characteristics of Households", barmode="stack", showlegend=False)
iplot(fig)

# Modelling

## Random Forest

## Baseline Model

In [110]:
features = [c for c in data.columns if c not in ['Id', 'Target']]

In [111]:
target = data['Target'].values
target_index = {1:0, 2:1, 3:2, 4:3}
target = np.array([target_index[c] for c in target])

Label Encode the categorical variables

In [112]:
def label_encoding(col):
    le = LabelEncoder()
    le.fit(list(data[col].values) + list(data_test[col].values))
    data[col] = le.transform(data[col].astype(str))
    data_test[col] = le.transform(data_test[col].astype(str))

num_cols = data._get_numeric_data().columns
cat_cols = list(set(features) - set(num_cols))
for col in cat_cols:
    label_encoding(col)

'"def label_encoding(col):\n    le = LabelEncoder()\n    le.fit(list(data[col].values) + list(data_test[col].values))\n    data[col] = le.transform(data[col].astype(str))\n    data_test[col] = le.transform(data_test[col].astype(str))\n\nnum_cols = data._get_numeric_data().columns\ncat_cols = list(set(features) - set(num_cols))\nfor col in cat_cols:\n    label_encoding(col)'

Prepare Training and Validation Sets

In [113]:
X_train, X_valid, y_train, y_valid = train_test_split(data[features].values, target, test_size=0.2, random_state=1)
lgb_train = lgb.Dataset(X_train, y_train)
lgb_valid = lgb.Dataset(X_valid, y_valid)

Baseline LightGBM

In [114]:
data.head()

,Id,v2a1,hacdor,rooms,hacapo,v14a,refrig,v18q,v18q1,r4h1,...,SQBmeaned,agesq,Target,edjefx,outside_material,floor_material,roof_material,sanitary,energy_source,waste_method
0,ID_279628684,190000.0,0,3,0,1,1,0,0.0,0,...,100.0,1849,4,10,Block / Brick,Mosaic / Ceramic,Fibre / Cement,Sewer / Cesspool,Cooking Gas,Tanker truck
1,ID_f29eb3ddd,135000.0,0,4,0,1,1,1,1.0,0,...,144.0,4489,4,12,Wood,Wood,Zinc,Sewer / Cesspool,Electricity,Tanker truck
2,ID_68de51c94,0.0,0,8,0,1,1,0,0.0,0,...,121.0,8464,4,11,Wood,Mosaic / Ceramic,Zinc,Sewer / Cesspool,Electricity,Tanker truck
3,ID_d671db89c,180000.0,0,5,0,1,1,1,1.0,0,...,121.0,289,4,11,Block / Brick,Mosaic / Ceramic,Zinc,Sewer / Cesspool,Electricity,Tanker truck
4,ID_d56d6f5f5,180000.0,0,5,0,1,1,1,1.0,0,...,121.0,1369,4,11,Block / Brick,Mosaic / Ceramic,Zinc,Sewer / Cesspool,Electricity,Tanker truck

In [115]:
params = {'boosting_type': 'gbdt', 'objective': 'multiclass', 'metric': 'multi_logloss',
          'num_class': 4, 'max_depth': 44, 'num_leaves': 36, 'learning_rate': 0.01,
          'feature_fraction': 0.8, 'bagging_fraction': 0.8, 'bagging_freq': 5,
          'lambda_l2': 1.0, 'verbose': -1, 'num_threads': -1 }

model = lgb.train(params, lgb_train, num_boost_round=100,  valid_sets=[lgb_train, lgb_valid], 
                  early_stopping_rounds=2000, verbose_eval=100)

ValueError: could not convert string to float: 'a3d696616'

Predict and Submit

In [ ]:
## predictions
preds = model.predict(data_test[features], num_iteration=model.best_iteration)

## revert back to original classes
reverse_index = {}
for k,v in target_index.items():
    reverse_index[v] = k
preds = [reverse_index[np.argmax(p)] for p in preds]

## submission
subs = pd.DataFrame()
subs['Id'] = data_test['Id']
subs['Target'] = preds
subs.to_csv('submission.csv', index=False)
subs.head()